/*


DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	list-style-type: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
d
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
  #txtPassword{color:#000}
  #thinking {
	WIDTH: 750px; 
	HEIGHT: 398px; OVERFLOW: hidden; 
	border: 1px #666666 solid; }
#pinglunList LI {
	BORDER-BOTTOM: black 1px dotted; PADDING-BOTTOM: 0px; MARGIN-BOTTOM: 0px; 
	padding: 0px;
	HEIGHT: auto; 
	width: 98%;
	OVERFLOW: hidden
;
	 background-color: #4b8ec6; 
}
.comment {
	WIDTH: auto; HEIGHT: auto; OVERFLOW: hidden; 
	font-size: 15px;
	padding-right:10px;
	color: rgb(0, 0, 0);
}
.pinglun {
    margin-top: 5%;
}

.txt_from {
	TEXT-ALIGN: left; 
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; float: right;PADDING-LEFT: 0px; WIDTH: 25%; PADDING-RIGHT: 0px; 
	HEIGHT: 35px; CLEAR: both; 
	font-size: 13px;
	PADDING-TOP: 15px;
	color: gray;
}
.digest {
	LINE-HEIGHT: 22px; PADDING-LEFT: 25px; BACKGROUND: url(quote-grey.jpg) no-repeat 0px 0px; COLOR: #666666; FONT-SIZE: 12px
}
.bg_all {
	BACKGROUND: url(bg_all.png) no-repeat
}
.fr {
	DISPLAY: inline; FLOAT: left;
}
a{text-decoration:none;outline:none; color:#666666;}
a:hover{text-decoration:none}


<li> <span class="txt_thinking fr digest" >abcdefg hijklm nopqrs tuvwx yza bcdefgh ijkl mnop qrstuv wxyzabc de fghijklmnopq rstuvw xyzabc defghij klmnopqrst uvwxyza bcdef ghij klmno pqrstuvw xyza bcdef ghijklmn opqrs tuvwxyz bcdefghi jklmnopq rstuvw xyzabcdefg hijklmnopqrstuvwxyzabcdefg hijklm nopqrst uvwx yzab defghijk lmn opqrs tuvwxyz abcdefgh ijklm nopqrstuvw xyzabcd efg hi jkl mno pqrst uvwxyza  bcdefghijklmn  opqrstuv w xyzabc d efghijklm n opqrstu vwxyz abcd efgh ijkl mnop qrstuv wxyzab cdefgh ijkl mnopqr stuv wxyzabc defghi jk lmnopqrst uvwxyz abcdefghi jklmno pq rstuvwxyz abcdef ghijk lmnopqrst uvwxyz abcd efghijkl mnopqr stuvwxyz</span>
      <div class="txt_from">  ???? <a href="#" class="noline" target="_blank">test</a> </div>
    </li>
    <li><span class="txt_thinking fr digest" > ??????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????</span>
      <div class="txt_from"> ???? <a href="#" class="noline" target="_blank">????????????</a> </div>
    </li>
    <li> <span class="txt_thinking fr digest" > ????????test !????????test !????????test !????????test !????????test !????????test !</span>
      <div class="txt_from"> ???? <a href="#" class="noline" target="_blank">BEC??????6????</a> </div>
    </li>


    */