
#homePageContent{
    background-size: 100%;
    /*min-width: 1000px;
    max-width: 1900px;*/
    margin-left: auto;
    margin-right: auto;
}
#home_firstSection_background
{
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    padding-top: 37px;
}
/* General Slides */ 

.slide{
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 3% 0;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0%;
}



/* Slide 1 */ 

#slide1{
    background-color: rgba(255, 255, 255, 0);
    /* background: rgba(255, 255, 255, 0.72) url(../image/homepage/background/1.png) no-repeat; */
    padding-top: 0%;
    padding-bottom: 0%;
    height: 582px;
    margin: 0;
}
#slide1 h1 {
    font-size: 3.8em;
    letter-spacing: -3px;
    line-height: 0px;
    color:#8a8683;
    font-weight: 700;
}
#slide1 h2 {
    font-size: 2em;
    color: #8a8683;
    line-height: 65px;
    padding-bottom: 16px;
    font-weight: 400;
    padding-left: 35px;
}

/* Slide 2 */ 

#slide2{
    /*background-image:url('../images/footprints.png');*/
    /* background-color: rgba(0, 0, 0, 0); */
    /* background: rgba(128, 128, 128, 0.61) url(../image/homepage/background/2.png) no-repeat; */
    margin-top: 0;
    padding-top: 9%;
    background-blend-mode: multiply;
    -webkit-filter: grayscale(0%) brightness(100%) contrast(100%);
    background-size: 100%;

}
#slide2 h1 {
    font-size: 3.8em;
    letter-spacing: -3px;
    line-height: 0px;
    color:#8a8683;
    font-weight: 700;
}
#slide2 h2 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 43px;
    padding-bottom: 0px;
    font-weight: 400;
    padding-left: 15px;
}




/* Slide 3 */ 

#slide3{
    background-color: rgba(0, 0, 0, 0);
    /* background: rgba(143, 119, 119, 0.61) url(../image/homepage/background/5.png) no-repeat; */
    margin-top: 0;
    background-blend-mode: multiply;
    -webkit-filter: grayscale(0%) brightness(100%) contrast(100%);
    padding-top: 9%;
    background-position: 0;
    background-size: 100%;
}
#slide3 h1 {
    font-size: 3.8em;
    letter-spacing: -3px;
    line-height: 0px;
    color:#8a8683;
    font-weight: 700;
}
#slide3 h2 {
    font-size: 16px;  color: #FFFFFF;  line-height: 43px;  padding-bottom: 10px;  font-weight: 400;
    padding-left: 15px;
}
#test{
    background-color:#bde2df;
    color:#ffffff;
    text-align:center;
    font-size: 2em;
    font-weight: 400;
}




/* Slide 4 */

#slide4{
    /*background-image:url('../images/sunglasses.png');*/
    background-color: rgba(0, 0, 0, 0);
    /* background: rgba(128, 128, 128, 0.61) url(../image/homepage/background/4.png) no-repeat; */
    margin-top: 0;
    background-blend-mode: multiply;
    -webkit-filter: grayscale(0%) brightness(100%) contrast(100%);
    padding-top: 9%;
    background-size: 100%;
    -webkit-filter: grayscale(0%);
}
#slide4 h1 {
    font-size: 3.8em;
    letter-spacing: -3px;
    line-height: 0px;
    color:#8a8683;
    font-weight: 700;
}
#slide4 h2 {
    font-size: 16px;

    color: #FFFFFF;
line-height: 43px;
padding-bottom: 10px;
font-weight: 400;
    padding: 0 15px;
}




/* Tablet */
@media screen and (max-width: 1024px) {

    #logo {
        width: 100%;
        text-align: center;
    }

    #nav {
        width:100%;
        text-align:center;
        margin:10px 0;
    }

    .navigation{
        width: 100%;
        float: center;
        list-style: none;
        margin: 0;
        padding:0;
    }

    .navigation li{
        float: left;
        width:25%;
        padding:0;
    }

    .slide{
        background-attachment: fixed;
        width:100%;
        position: relative;
        padding:150px 0;
    }

    #decorative {
        display:none;
    }

    #content {
        text-align:center;
        width:100%;
    }

    #slide1 h1 {
        line-height: 1em;
    }
    #slide1 h2 {
        line-height: 1em;
    }
    #slide2 h1 {
        line-height: 1em;
    }
    #slide2 h2 {
        line-height: 1em;
    }
    #slide3 h1 {
        line-height: 1em;
    }
    #slide3 h2 {
        line-height: 1em;
    }
    #slide4 h1 {
        line-height: 1em;
    }
    #slide4 h2 {
        line-height: 1em;
    }


}














.table1{
    width: 960px;
    height: 462px;
    margin: 0 auto;
}

.table2 {
    width: 700px;
    height: 462px;
    /*    border-style: solid;
        border-width: 0px;*/
}

.tr {
    width: 1100px;
    height: 462px;
    /*    border-style: solid;
        border-width: 1px;*/
}

.td1 {
    width: 400px;
    height: 462px;
    /*    border-style: solid;
        border-width: 1px;*/
}

.td2 {
    width: 700px;
    height: 462px;
    /*    border-style: solid;
        border-width: 1px;*/
}

.tr_1 {
    width: 700px;
    height: 259px;
    /*   border-style: solid;
        border-width: 1px;*/
}

.td_1 {
    width: 350px;
    height: 257px;
    /*    border-style: solid;
        border-width: 1px;*/
}
.tr_3_1 {
    width: 700px;
    height: 500px;

}

.td_3_1 {
    width: 350px;
    height: 500px;

}

.table_3 {
    width: 350px;
    height: 500px;

}

.tr_3_2 {
    width: 350px;
    height: 250px;

}

.td_3_2 {
    width: 350px;
    height: 250px;

}

.effect-ruby img { max-width: 350px;}
.homepage_Section_firstPic
{
    color: white;

    margin-top: 161%;

    text-align: center;
}