/*
 * CSS Expandable Menu
 * @author: Francisco Neves
 */
#slide-navigation{background-color:#333;width:100%;overflow:hidden;list-style:none;margin:0;padding:0;*zoom:1}
#slide-navigation li{overflow:hidden;float:left;height:45px;background:url("../img/border/dotted-ver.gif") repeat-y right top;text-transform:uppercase;letter-spacing:1px;zoom:1}
#slide-navigation a.nr1.flex-active,#slide-navigation a.nr1:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3079px no-repeat}
#slide-navigation a.nr1{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3024px no-repeat}
#slide-navigation a.nr2.flex-active,#slide-navigation a.nr2:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3189px no-repeat}
#slide-navigation a.nr2{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3134px no-repeat}
#slide-navigation a.nr3.flex-active,#slide-navigation a.nr3:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3299px no-repeat}
#slide-navigation a.nr3{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3244px no-repeat}
#slide-navigation a.nr4.flex-active,#slide-navigation a.nr4:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3409px no-repeat}
#slide-navigation a.nr4{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3354px no-repeat}
#slide-navigation a.nr5.flex-active,#slide-navigation a.nr5:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3519px no-repeat}
#slide-navigation a.nr5{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3464px no-repeat}
#slide-navigation a.nr6.flex-active,#slide-navigation a.nr6:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3629px no-repeat}
#slide-navigation a.nr6{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3574px no-repeat}
#slide-navigation a.nr7.flex-active,#slide-navigation a.nr7:hover{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3739px no-repeat}
#slide-navigation a.nr7{background:transparent url('../img/icon-s7a55c9a109.png') 15px -3684px no-repeat}
#slide-navigation li:hover{background-color:#000}
#slide-navigation li a{display:block;height:45px;padding-left:50px;color:#999999;font-size:11px;line-height:45px;padding-right:20px;cursor:pointer}
#slide-navigation li a:hover{text-decoration:none}
#slide-navigation-thumbs{overflow:hidden;padding-top:10px;padding-left:10px;background:transparent url("../img/helper/blacktrans.png") repeat left top}
#slide-navigation-thumbs .slide-navigation-thumbs-content{padding:0;margin:0;overflow:hidden}
#slide-navigation-thumbs li{list-style:none;float:left;margin-right:11px;margin-bottom:10px;position:relative}
#slide-navigation-thumbs li.last{margin-right:0}
#slide-navigation-thumbs img{width:120px;height:auto}
/** Reset */
* { font-size: 12px; list-style: none; margin: 0; padding: 0; outline: 0; text-decoration: none; box-sizing: border-box !important; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; -ms-box-sizing: border-box !important; }

/**
 *  START FREEBIE STYLES
 */

 	/*! Font Faces */


	/*! Freebie Skelet */
	ul.expmenu { width: 200px; }
	ul.expmenu * { list-style: none; }
	ul.expmenu > li > div.vertical_title { padding: 12px; border-bottom: 1px #396e9f solid; }
	ul.expmenu > li:last-child > div.vertical_title { border-bottom: none; }
	ul.expmenu > li ul li { background-color: #ececec; padding: 12px; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #fff; color: #727272; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
	ul.expmenu > li ul li:last-child { border-bottom: none; }
	ul.expmenu > li ul li.selected { background-color: #f4f4f4; }
	ul.expmenu div.vertical_title
	{
		color: #203f61;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);

		background: #4d7fb8; /* Old browsers */
		background: -moz-linear-gradient(top, #4d7fb8 0%, #4572a5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7fb8), color-stop(100%,#4572a5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4d7fb8 0%,#4572a5 100%); /* IE10+ */
		background: linear-gradient(to bottom, #4d7fb8 0%,#4572a5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fb8', endColorstr='#4572a5',GradientType=0 ); /* IE6-9 */
	}
	ul.expmenu > li > div.vertical_title > .label { padding-left: 24px; background: no-repeat; }
	ul.expmenu > li > div.vertical_title > .arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }
	ul.expmenu > li > div.vertical_title > .arrow.up { background-image: url(../images/arrow_u.png); }
	ul.expmenu > li > div.vertical_title > .arrow.down { background-image: url(../images/arrow_d.png); }

		/* Mouse Events */
		ul.expmenu div.vertical_title:hover
		{
			background: #4571a0; /* Old browsers */
			background: -moz-linear-gradient(top, #4d7fb8 0%, #4571a0 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7fb8), color-stop(100%,#4571a0)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #4d7fb8 0%,#4571a0 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #4d7fb8 0%,#4571a0 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #4d7fb8 0%,#4571a0 100%); /* IE10+ */
			background: linear-gradient(to bottom, #4d7fb8 0%,#4571a0 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7fb8', endColorstr='#4571a0',GradientType=0 ); /* IE6-9 */

			cursor: pointer;
		}

		ul.expmenu > li ul li:not(.selected):hover
		{
			background: #e7e7e7; /* Old browsers */

			cursor: pointer;
		}
		ul.expmenu > li ul li:not(.selected):active
		{
			background: #f1f1f1; /* Old browsers */

			cursor: pointer;
		}
/**
 *  END FREEBIE STYLES
 */
	

/**
 *	Not important styles
 */
	body
	{ 
		color: #b1b1b1;
		background: #e1e1e1; /* Old browsers */		
	}
	ul#pagination-freebie { display: table; padding-right: 20px; margin: 20px auto; list-style: none; }
	ul#pagination-freebie:last-child { padding-right: 0; }
	ul#pagination-freebie li { float: left; margin-bottom: 20px }
	ul#pagination-freebie li:last-child { margin-right: 0; }

	div#text { text-align: center; font-size: 48px; width: 610px; margin: 0 auto; margin-top: 50px; margin-top: 80px; }
	div#smalltext { text-align: center; font-size: 15px; width: 600px; margin: 0 auto; }
	div#content { display: table; margin: 0 auto; padding: 30px; }